[View in Colaboratory](https://colab.research.google.com/github/lucasgmpaiva/Analise_Dados_UFRN/blob/master/Parte%20I.ipynb)

In [ ]:
#Bibliotecas Necessárias

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
#Criando DataFrames de Socioeconômico

dadosSocio_2017_1 = pd.read_csv("https://bit.ly/2jLOb0T", sep=';', usecols=['id_discente', 'ano', 'periodo', 'renda', 'escola_ens_medio']);
dadosSocio_2016_2 = pd.read_csv("https://bit.ly/2K8jMF3", sep=';', usecols=['id_discente', 'ano', 'periodo', 'renda', 'escola_ens_medio']);
dadosSocio_2016_1 = pd.read_csv("https://bit.ly/2I5xrMA", sep=';', usecols=['id_discente', 'ano', 'periodo', 'renda', 'escola_ens_medio']);
dadosSocio_2015_2 = pd.read_csv("https://bit.ly/2K7UtTy", sep=';', usecols=['id_discente', 'ano', 'periodo', 'renda', 'escola_ens_medio']);
dadosSocio_2015_1 = pd.read_csv("https://bit.ly/2wuf4PY", sep=';', usecols=['id_discente', 'ano', 'periodo', 'renda', 'escola_ens_medio']);
dadosSocio_2014_2 = pd.read_csv("https://bit.ly/2IaMcO9", sep=';', usecols=['id_discente', 'ano', 'periodo', 'renda', 'escola_ens_medio']);
dadosSocio_2014_1 = pd.read_csv("https://bit.ly/2rwzbXX", sep=';', usecols=['id_discente', 'ano', 'periodo', 'renda', 'escola_ens_medio']);

#Criando DataFrames de Situações
dadosSituacao_2017_1 = pd.read_csv("https://bit.ly/2KMoTvS", sep=';', usecols=['discente', 'id_curso', 'media_final', 'descricao']);
dadosSituacao_2016_2 = pd.read_csv("https://bit.ly/2rup6Ma", sep=';', usecols=['discente', 'id_curso', 'media_final', 'descricao']);
dadosSituacao_2016_1 = pd.read_csv("https://bit.ly/2K7oy5w", sep=';', usecols=['discente', 'id_curso', 'media_final', 'descricao']);
dadosSituacao_2015_2 = pd.read_csv("https://bit.ly/2rvknKb", sep=';', usecols=['discente', 'id_curso', 'media_final', 'descricao']);
dadosSituacao_2015_1 = pd.read_csv("https://bit.ly/2I8YfeM", sep=';', usecols=['discente', 'id_curso', 'media_final', 'descricao']);
dadosSituacao_2014_2 = pd.read_csv("https://bit.ly/2I3mj6T", sep=';', usecols=['discente', 'id_curso', 'media_final', 'descricao']);
dadosSituacao_2014_1 = pd.read_csv("https://bit.ly/2rwFpI4", sep=';', usecols=['discente', 'id_curso', 'media_final', 'descricao']);

In [ ]:
#Criando DataFrames de Socioeconômico

dadosSocio_2017_1 = pd.read_csv("https://bit.ly/2jLOb0T", sep=';', usecols=['id_discente', 'ano', 'periodo', 'renda', 'escola_ens_medio']);
dadosSocio_2016_2 = pd.read_csv("https://bit.ly/2K8jMF3", sep=';', usecols=['id_discente', 'ano', 'periodo', 'renda', 'escola_ens_medio']);
dadosSocio_2016_1 = pd.read_csv("https://bit.ly/2I5xrMA", sep=';', usecols=['id_discente', 'ano', 'periodo', 'renda', 'escola_ens_medio']);
dadosSocio_2015_2 = pd.read_csv("https://bit.ly/2K7UtTy", sep=';', usecols=['id_discente', 'ano', 'periodo', 'renda', 'escola_ens_medio']);
dadosSocio_2015_1 = pd.read_csv("https://bit.ly/2wuf4PY", sep=';', usecols=['id_discente', 'ano', 'periodo', 'renda', 'escola_ens_medio']);
dadosSocio_2014_2 = pd.read_csv("https://bit.ly/2IaMcO9", sep=';', usecols=['id_discente', 'ano', 'periodo', 'renda', 'escola_ens_medio']);
dadosSocio_2014_1 = pd.read_csv("https://bit.ly/2rwzbXX", sep=';', usecols=['id_discente', 'ano', 'periodo', 'renda', 'escola_ens_medio']);

In [0]:
dadosSituacao_2014_1[dadosSituacao_2014_1.id_curso==92127264]

In [0]:
#Preparando Os Dados
lista_Socio = [dadosSocio_2014_1, dadosSocio_2014_2, dadosSocio_2015_1, dadosSocio_2015_2, dadosSocio_2016_1, dadosSocio_2016_2, dadosSocio_2017_1]

for data in lista_Socio:
  data.rename(columns={"id_discente" : "discente"}, inplace=True)
  
dadosSocio_2017_1.columns
  
#lista_Situacao =  [dadosSituacao_2017_1, dadosSituacao_2016_2, dadosSituacao_2016_1, dadosSituacao_2015_2, dadosSituacao_2015_1, dadosSituacao_2014_2, dadosSituacao_2014_1]

'''for data in lista_Situacao:
  data = data[~data.discente.duplicated()]
  data = data[data.id_curso==92127264] #92127264 = Id do curso BTI''' #Tentei e deu ruim!

dadosSituacao_2017_1 = dadosSituacao_2017_1[dadosSituacao_2017_1.id_curso==92127264]
dadosSituacao_2016_2 = dadosSituacao_2016_2[dadosSituacao_2016_2.id_curso==92127264]
dadosSituacao_2016_1 = dadosSituacao_2016_1[dadosSituacao_2016_1.id_curso==92127264]
dadosSituacao_2015_2 = dadosSituacao_2015_2[dadosSituacao_2015_2.id_curso==92127264]
dadosSituacao_2015_1 = dadosSituacao_2015_1[dadosSituacao_2015_1.id_curso==92127264]
dadosSituacao_2014_2 = dadosSituacao_2014_2[dadosSituacao_2014_2.id_curso==92127264]
dadosSituacao_2014_1 = dadosSituacao_2014_1[dadosSituacao_2014_1.id_curso==92127264]

In [0]:

#Unindo Dados De Cada Período
dados_2017_1 = pd.merge(dadosSocio_2017_1, dadosSituacao_2017_1, on='discente')
dados_2016_2 = pd.merge(dadosSocio_2016_2, dadosSituacao_2016_2, on='discente')
dados_2016_1 = pd.merge(dadosSocio_2016_1, dadosSituacao_2016_1, on='discente')
dados_2015_2 = pd.merge(dadosSocio_2015_2, dadosSituacao_2015_2, on='discente')
dados_2015_1 = pd.merge(dadosSocio_2015_1, dadosSituacao_2015_1, on='discente')
dados_2014_2 = pd.merge(dadosSocio_2014_2, dadosSituacao_2014_2, on='discente')
dados_2014_1 = pd.merge(dadosSocio_2014_1, dadosSituacao_2014_1, on='discente')

dados_2017_1 = dados_2017_1[~dados_2017_1.discente.duplicated()]
dados_2016_2 = dados_2016_2[~dados_2016_2.discente.duplicated()]
dados_2016_1 = dados_2016_1[~dados_2016_1.discente.duplicated()]
dados_2015_2 = dados_2015_2[~dados_2015_2.discente.duplicated()]
dados_2015_1 = dados_2015_1[~dados_2015_1.discente.duplicated()]
dados_2014_2 = dados_2014_2[~dados_2014_2.discente.duplicated()]
dados_2014_1 = dados_2014_1[~dados_2014_1.discente.duplicated()]

lista_Dados = [dados_2014_1, dados_2014_2, dados_2015_1, dados_2015_2, dados_2016_1, dados_2016_2, dados_2017_1]

for data in lista_Dados:
  data.dropna()
  
dados_2017_1.reset_index(drop=True, inplace=True)
dados_2016_2.reset_index(drop=True, inplace=True)
dados_2016_1.reset_index(drop=True, inplace=True)
dados_2015_2.reset_index(drop=True, inplace=True)
dados_2015_1.reset_index(drop=True, inplace=True)
dados_2014_2.reset_index(drop=True, inplace=True)
dados_2014_1.reset_index(drop=True, inplace=True)


#Unindo Dados de Cada Ano
'''dados_2017 = dados_2017_1;
dados_2016 = pd.merge(dados_2016_1, dados_2016_2, on='discente')
dados_2015 = pd.merge(dados_2015_1, dados_2015_2, on='discente')
dados_2014 = pd.merge(dados_2014_1, dados_2014_2, on='discente')''' #Não é possível realizar este merge sem perda de informações ou truncamento

In [70]:
dados_2017_1.pivot_table(index = ['escola_ens_medio', 'descricao'], values=['discente'], aggfunc='count')

                                                                                     discente
escola_ens_medio                                   descricao
Em escola Particular, com bolsa                    APROVADO                                 4
                                                   APROVADO POR NOTA                        6
                                                   CANCELADO                                2
                                                   INDEFERIDO                               1
Outro tipo de escola                               APROVADO POR NOTA                        1
                                                   EXCLUIDA                                 1
Parte em escola pública parte em escola particu... APROVADO                                 1
                                                   APROVADO POR NOTA                        6
                                                   DESISTENCIA                              1
                                                   REPROVADO                                2
Todo em escola particular                          APROVADO                                34
                                                   APROVADO POR NOTA                       20
                                                   CANCELADO                                7
                                                   DESISTENCIA                              8
                                                   EXCLUIDA                                 5
                                                   INDEFERIDO                               8
                                                   REPROVADO                               11
                                                   REPROVADO POR MÉDIA E POR FALTAS         9
                                                   TRANCADO                                 1
Todo em escola publica                             APROVADO                                70
                                                   APROVADO POR NOTA                       69
                                                   CANCELADO                               33
                                                   DESISTENCIA                              4
                                                   EXCLUIDA                                 9
                                                   INDEFERIDO                              18
                                                   REPROVADO                               13
                                                   REPROVADO POR MÉDIA E POR FALTAS        13
                                                   TRANCADO                                 2

In [71]:
dados_2016_2.pivot_table(index = ['escola_ens_medio', 'descricao'], values=['discente'], aggfunc='count')

                                                                                     discente
escola_ens_medio                                   descricao
Em escola Particular, com bolsa                    APROVADO                                 5
                                                   APROVADO POR NOTA                        3
                                                   CANCELADO                                2
                                                   DESISTENCIA                              1
                                                   INDEFERIDO                               2
                                                   REPROVADO POR MÉDIA E POR FALTAS         1
Outro tipo de escola                               APROVADO POR NOTA                        1
Parte em escola pública parte em escola particu... APROVADO                                 4
                                                   APROVADO POR NOTA                        3
                                                   CANCELADO                                2
                                                   DESISTENCIA                              1
                                                   INDEFERIDO                               1
                                                   REPROVADO                                2
                                                   TRANCADO                                 1
Todo em escola particular                          APROVADO                                28
                                                   APROVADO POR NOTA                       15
                                                   CANCELADO                               11
                                                   DESISTENCIA                              3
                                                   INDEFERIDO                               5
                                                   REPROVADO                                7
                                                   REPROVADO POR MÉDIA E POR FALTAS         6
                                                   TRANCADO                                 1
Todo em escola publica                             APROVADO                                84
                                                   APROVADO POR NOTA                       44
                                                   CANCELADO                               17
                                                   DESISTENCIA                              6
                                                   INDEFERIDO                              14
                                                   REPROVADO                                7
                                                   REPROVADO POR MÉDIA E POR FALTAS        11
                                                   TRANCADO                                11

In [72]:
dados_2016_1.pivot_table(index = ['escola_ens_medio', 'descricao'], values=['discente'], aggfunc='count')

                                                                                     discente
escola_ens_medio                                   descricao
Em escola Particular, com bolsa                    APROVADO                                 2
                                                   APROVADO POR NOTA                        7
                                                   INDEFERIDO                               2
                                                   REPROVADO                                1
                                                   REPROVADO POR MÉDIA E POR FALTAS         2
                                                   TRANCADO                                 1
Outro tipo de escola                               CANCELADO                                1
                                                   REPROVADO                                1
Parte em escola pública parte em escola particu... APROVADO                                 2
                                                   APROVADO POR NOTA                        3
                                                   CANCELADO                                1
                                                   INDEFERIDO                               1
                                                   REPROVADO                                1
Todo em escola particular                          APROVADO                                14
                                                   APROVADO POR NOTA                       27
                                                   CANCELADO                               10
                                                   DESISTENCIA                              2
                                                   EXCLUIDA                                 3
                                                   INDEFERIDO                               2
                                                   REPROVADO                               10
                                                   REPROVADO POR MÉDIA E POR FALTAS         5
                                                   REPROVADO POR NOTA                       1
                                                   TRANCADO                                 2
Todo em escola publica                             APROVADO                                36
                                                   APROVADO POR NOTA                       43
                                                   CANCELADO                               15
                                                   DESISTENCIA                              3
                                                   EXCLUIDA                                 6
                                                   INDEFERIDO                               7
                                                   REPROVADO                               29
                                                   REPROVADO POR MÉDIA E POR FALTAS        12
                                                   REPROVADO POR NOTA                       1
                                                   TRANCADO                                 4

In [73]:
dados_2015_2.pivot_table(index = ['escola_ens_medio', 'descricao'], values=['discente'], aggfunc='count')

                                                                                     discente
escola_ens_medio                                   descricao
Em escola Particular, com bolsa                    APROVADO                                 2
                                                   APROVADO POR NOTA                        5
                                                   REPROVADO                                2
                                                   REPROVADO POR MÉDIA E POR FALTAS         1
                                                   TRANCADO                                 1
Outro tipo de escola                               APROVADO POR NOTA                        1
Parte em escola pública parte em escola particu... APROVADO                                 1
                                                   APROVADO POR NOTA                        3
                                                   DESISTENCIA                              1
                                                   REPROVADO                                2
                                                   REPROVADO POR MÉDIA E POR FALTAS         1
Todo em escola particular                          APROVADO                                22
                                                   APROVADO POR NOTA                       16
                                                   CANCELADO                                2
                                                   DESISTENCIA                              1
                                                   INDEFERIDO                               8
                                                   REPROVADO                                1
                                                   REPROVADO POR MÉDIA E POR FALTAS         4
                                                   TRANCADO                                 4
Todo em escola publica                             APROVADO                                29
                                                   APROVADO POR NOTA                       33
                                                   CANCELADO                                6
                                                   DESISTENCIA                              3
                                                   EXCLUIDA                                 1
                                                   INDEFERIDO                              12
                                                   REPROVADO                                9
                                                   REPROVADO POR MÉDIA E POR FALTAS         7
                                                   TRANCADO                                 5

In [74]:
dados_2015_1.pivot_table(index = ['escola_ens_medio', 'descricao'], values=['discente'], aggfunc='count')

                                                                                     discente
escola_ens_medio                                   descricao
Em escola Particular, com bolsa                    APROVADO                                 3
                                                   APROVADO POR NOTA                        1
                                                   EXCLUIDA                                 2
Parte em escola pública parte em escola particu... APROVADO                                 2
                                                   EXCLUIDA                                 5
Todo em escola particular                          APROVADO                                 5
                                                   APROVADO POR NOTA                        5
                                                   CANCELADO                                2
                                                   DESISTENCIA                              3
                                                   EXCLUIDA                                20
                                                   REPROVADO                                2
                                                   REPROVADO POR MÉDIA E POR FALTAS         1
                                                   TRANCADO                                 1
Todo em escola publica                             APROVADO                                17
                                                   APROVADO POR NOTA                       16
                                                   CANCELADO                                4
                                                   EXCLUIDA                                31
                                                   INDEFERIDO                               1
                                                   REPROVADO                                6
                                                   REPROVADO POR MÉDIA E POR FALTAS         3
                                                   TRANCADO                                 4

In [75]:
dados_2014_2.pivot_table(index = ['escola_ens_medio', 'descricao'], values=['discente'], aggfunc='count')

                                                                                     discente
escola_ens_medio                                   descricao
Em escola Particular, com bolsa                    APROVADO                                 1
                                                   APROVADO POR NOTA                        1
                                                   EXCLUIDA                                 2
Parte em escola pública parte em escola particu... APROVADO                                 1
                                                   APROVADO POR NOTA                        3
                                                   EXCLUIDA                                 2
                                                   REPROVADO                                1
Todo em escola particular                          APROVADO                                 8
                                                   APROVADO POR NOTA                       10
                                                   EXCLUIDA                                13
                                                   REPROVADO                                4
                                                   REPROVADO POR MÉDIA E POR FALTAS         2
                                                   TRANCADO                                 2
Todo em escola publica                             APROVADO                                 8
                                                   APROVADO POR NOTA                       11
                                                   CANCELADO                                2
                                                   EXCLUIDA                                20
                                                   INDEFERIDO                               1
                                                   REPROVADO                                4
                                                   REPROVADO POR MÉDIA E POR FALTAS         6
                                                   TRANCADO                                 1

In [76]:
dados_2014_1.pivot_table(index = ['escola_ens_medio', 'descricao'], values=['discente'], aggfunc='count')

                                                                                     discente
escola_ens_medio                                   descricao
Em escola Particular, com bolsa                    APROVADO                                 1
                                                   APROVADO POR NOTA                        1
                                                   CANCELADO                                1
                                                   DESISTENCIA                              1
Parte em escola pública parte em escola particu... APROVADO                                 1
                                                   APROVADO POR NOTA                        4
                                                   CANCELADO                                2
                                                   DESISTENCIA                              1
                                                   EXCLUIDA                                 2
Todo em escola particular                          APROVADO                                 9
                                                   APROVADO POR NOTA                       16
                                                   CANCELADO                                1
                                                   DESISTENCIA                              4
                                                   EXCLUIDA                                 7
                                                   REPROVADO                                6
                                                   REPROVADO POR MÉDIA E POR FALTAS         2
                                                   TRANCADO                                 2
Todo em escola publica                             APROVADO                                26
                                                   APROVADO POR NOTA                       18
                                                   CANCELADO                                3
                                                   DESISTENCIA                              5
                                                   EXCLUIDA                                 7
                                                   INDEFERIDO                               2
                                                   REPROVADO                                2
                                                   REPROVADO POR MÉDIA E POR FALTAS         1
                                                   TRANCADO                                 3